{{ define "content" }}
<div class="col">
    <h6><a href="/hosts">Hosts</a> > <a href="/hosts/{{ .Hostname }}">{{ .Hostname }}</a> > HA Configuration Checker</h6>
    <h1>Demo</h1>
    {{ range $i, $g := .HAChecks.Groups }}
    {{- $groupId := normalizeId $i }}
    <h4>{{ .Id }} - {{ .Name }}</h4>
    <div class="table-responsive">
        <table class="table eos-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 15%">Test ID</th>
                    <th scope="col" style="width: 74%">Description</th>
                    <th scope="col" style="width: 5%" class="text-center">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{- range $y, $c := .Results }}
                {{- $testId := normalizeId $y }}
                <tr>
                    <td class="align-top">{{ .Id }}</td>
                    <td class="align-top">
                        {{ .Name }}
                        <div class="ha-check-remediation collapse" id="info-{{ $groupId }}-{{ $testId }}">
                            {{ markdown .Description }}
                        </div>
                    </td>
                    <td class="align-top text-center">
                        <span class="badge badge-pill badge-{{ if eq .Status "PASS" }}primary{{ else if eq .Status "WARN" }}warning{{ else }}danger{{ end }} m-0">{{ .Status }}</span>
                    </td>
                    <td class="align-top text-center">
                        <a class="link-dark" type="button"
                                data-toggle="collapse"
                                href="#info-{{ $groupId }}-{{ $testId }}"
                                aria-expanded="false"
                                aria-controls="info-{{ $groupId }}-{{ $testId }}"
                                title="Details">
                            <i class='eos-icons eos-18'>info</i>
                        </a>
                    </td>
                </tr>
                {{- end }}
            </tbody>
        </table>
    </div>
    {{- end }}
    <hr/>
    <p class='clearfix'/>
    <h2>Records</h4>
    <div class="table-responsive">
        <table class="table eos-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 99%">Record name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{- range .Records }}
                <tr>
                    <td class="align-top">
                      {{ .Key }}
                      <div class="ha-check-remediation collapse" id="info-{{ .Id }}">
                        <pre>{{ .Value }}</pre>
                      </div>
                    </td>
                    <td class="align-top text-center">
                        <a class="link-dark" type="button"
                                data-toggle="collapse"
                                href="#info-{{ .Id }}"
                                aria-expanded="false"
                                aria-controls="info-{{ .Id }}"
                                title="Details">
                            <i class='eos-icons eos-18'>info</i>
                        </a>
                    </td>
                </tr>
                {{- end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
